a{
    text-decoration: none;
}
.main-box{
    text-align: center;
    /* margin: 0 auto; */
    /* min-height: 200px; */
    position: relative;
}
.items{
    background-color: #f5f5f5;
    width:260px;
    padding: 20px 20px;
    text-align:center;
    margin: 20px 20px;
    border-radius: 5px;
    float: left;
}
.items:hover{
    transform: scale(1.1);
    transition: all 0.4s ease 0.2s;
    -webkit-transform: scale(1.1);
}
.items .img-box{
   margin-top: 10px;
}
.items .img-box img{
    width:100px;
    height:100px;
}
.items .title-box{
    margin-top: 20px;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight:bold;
    margin-bottom:20px
}
.price-box .red-price{
    color:red;
float: left;
margin-left: 20px;
}